.about-main-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    background-color: var(--soft-white);
    font-family: "Neue Montreal";
    gap: 4em;
    padding: 0 25%;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#name {
    font-size: 7vw;
    font-weight: 400;
    margin: 0;
}

#title {
    margin: 0;
    font-size: 3vw;
    font-weight: 400;
}

#summary {
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: .03em;
    font-weight: 500;
}

.about-c {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.about-c h1{
    text-align: center;
}

.skills-c {
    grid-row: 1 / 3;
}

.skills-c h1 {
    text-align: center;
}

.skill-icons-c {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill-icons-c img {
    width: 4em;
    height: auto;
}
